APP_URL="https://nikita-filonov.github.io/qa-automation-engineer-ui-course"
HEADLESS=true
BROWSERS=["chromium", "webkit", "firefox"]

TEST_USER__EMAIL="emailtest@gmail.com"
TEST_USER__USERNAME="username"
TEST_USER__PASSWORD="password"

TEST_DATA__IMAGE_PNG_FILE="./testdata/files/image.png"