__pycache__/
*.pyc

.venv/

.ruff_cache/

.idea/

allure-results/
allure-report/
tracing
videos
.env
/browser_state.json

#coverage
coverage-results
coverage.html
coverage-report.json
coverage-history.json